<div class="cont">
    <div id="login-box" class="login-box">

        <h2>Registration</h2>
        <form [formGroup]="user" class="form">

            <mat-form-field class="input">
                <mat-label>Nickname</mat-label>
                <input type="text" matInput formControlName="nickname">
                <mat-error *ngIf="user.get('nickname').hasError('required')">
                    Nickname is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="user.get('email').hasError('email') && !user.get('email').hasError('required')">
                    Please enter a <strong>valid</strong> email address
                </mat-error>
                <mat-error *ngIf="user.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button class="eye" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                    *ngIf="user.get('password').hasError('minlength') && !user.get('password').hasError('required')">
                    Min 6 characters
                </mat-error>
                <mat-error *ngIf="user.get('password').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <p class="err" *ngIf="serverError.emailDuplicate"> User with this email already exists. Your email has to be unique.</p>

            <button class="submitButton" (click)="register()" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>

        </form>
    </div>
</div>