<div class="cont">
    <div id="table">
        <table class="container">
            <thead>
                <tr>
                    <th>
                        <h1>Rank</h1>
                    </th>
                    <th>
                        <h1>Nickname</h1>
                    </th>
                    <th>
                        <h1>Email</h1>
                    </th>
                    <th>
                        <h1>Points</h1>
                    </th>
                    <th>
                        <h1>Details</h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td>{{ i + 1 + itemPerPage * (page - 1) }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.bestScore }}</td>
                    <td (click)="toPage(user)">details</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="buttons">
        <div class="buttonDiv"><mat-icon class="button" [ngClass]="{buttonHide: page == 1}" (click)="previousPage()">arrow_back</mat-icon></div>
        <div class="pages">{{ page }} ... {{ numberOfPages }}</div>
        <div class="buttonDiv"><mat-icon class="button"  [ngClass]="{buttonHide: page == numberOfPages}" (click)="nextPage()">arrow_forward</mat-icon></div> 

    </div>
    
</div>
